* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(231, 177, 177);
}
.logo {
  width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el título */
  margin-left: 50px;
  float: right;
  border: 2px solid red;
}
.header {
  display: flex;
  align-items: center;
}
.title {
  font-size: 24px; /* Ajusta el tamaño del título según tus necesidades */
  margin: 0;
  color: brown;
}
